In [1]:
# import dependencies
import pandas as pd
import matplotlib.pyplot as plt
from sqlalchemy import create_engine
#from config import password

# connect to postgres database
engine = create_engine('postgresql://localhost:5432/Employee_DB')
#engine = create_engine('postgresql://postgres:' + password + '@localhost:5432/Employee_DB')
connection = engine.connect()

ModuleNotFoundError: No module named 'psycopg2'

In [ ]:
# query the database for salaries and output as dataframe
salaries = pd.read_sql_query(
'''SELECT salary
FROM Salaries'''
, connection)

In [ ]:
# find number of rows in full dataset
salaries.shape

In [ ]:
# compare number of rows to number of rows without null data
# in this case, there are no null rows
salaries.count()

In [ ]:
# set default figure size
plt.rcParams["figure.figsize"] = (10,10)

In [ ]:
# create bin sizes for histogram
bins = [x for x in range(40000,135000,5000)]

# plot histogram with axis labels
plt.hist(salaries, bins)
plt.xlabel("Salary Range")
plt.ylabel("Employee Count")
plt.title("Histogram of Employees by Salary Range")
plt.xlim([40000,130000])
plt.xticks(rotation=45)
plt.savefig("Salary_Histogram.png")
plt.show()

In [ ]:
# query the database for salary by title and output as dataframe
salary_x_title = pd.read_sql_query(
'''SELECT s.salary, t.title
FROM Employees AS e
JOIN Salaries AS s USING (emp_no)
JOIN Titles AS t ON (t.title_id=e.emp_title)'''
, connection)

In [ ]:
# find number of rows in full dataset
salary_x_title.shape

In [ ]:
# compare number of rows to number of rows without null data
# in this case, there are no null rows
salary_x_title.count()

In [ ]:
# group by title and find average salary
avg_salary = salary_x_title.groupby(["title"]).mean().reset_index()

In [ ]:
# create bar chart of average salary vs title
plt.bar(avg_salary["title"], avg_salary["salary"])
plt.xlabel("Employee Title")
plt.ylabel("Average Salary")
plt.title("Average Salary by Title")
plt.savefig("Salary_Title_Bar.png")
plt.show()

In [ ]:
# query the database for my id number (499942) and output as dataframe
me = pd.read_sql_query(
'''SELECT s.salary, t.title, e.birth_date, e.first_name, e.last_name, e.sex, e.hire_date, d.dept_name
FROM Employees AS e
JOIN Salaries AS s USING (emp_no)
JOIN Titles AS t ON (t.title_id=e.emp_title)
JOIN Department_Employees USING (emp_no)
JOIN Departments AS d USING (dept_no)
WHERE e.emp_no = 499942;'''
, connection)

In [ ]:
# display my info
me